{% extends 'emails/layout.html.twig' %}

{% block title %}Supervisor Approved - Awaiting Your Decision{% endblock %}

{% block body %}
<p>
    <strong>{{ staff.displayName }}</strong>'s weekly timesheet has been approved by their supervisor and is now awaiting <strong>your approval</strong>.
</p>
<p>
    <strong>Week:</strong> {{ weekStart }} - {{ weekEnd }}<br>
    <strong>Total hours:</strong> {{ (submission.totalDuration / 3600)|number_format(2) }}h
</p>
<p>
    <a href="{{ url('weekly_submission_supervisor_pending') }}">Click here to review and approve</a>
</p>
{% endblock %}
